<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>UNO</title>
</head>
<body>
    <div id="app">
        <div style="position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,.70); z-index: 1000000000;">
            
        </div>
        <div class="myCard" :class="{ emCima: vez == -1 }">
            <div v-for="card in myHand" style="display: inline-table; left: 35%; position: relative;"
            :class="{activeHover : card.hover}"
            v-bind:key="card.id">
            <div :class="{playCard : card.playing}">
                <div class="card" 
                @mouseenter="hoverCard(card)"
                @mouseleave="saiuCard(card)"
                @click="playCard(card)"
                :style="{backgroundImage: 'url( ./assets/img/' + card.color + '_' + card.number + '.png)'}">
                </div>
            </div>
            </div>
        </div>
        <div class="top" :class="{ emCima: vez == 1 }">
            <div v-for="card in bots[1].cards" style="display: inline-table; left: 35%; position: relative;"
            v-bind:key="card.id">
            <div :class="{playCard : card.playing}">
                <div class="card" 
               
                style="background-Image: url( ./assets/img/Deck.png)">
                </div>
            </div>
            </div>
        </div>

        <div class="left" :class="{ emCima: vez == 2 }">
            <div v-for="card in bots[2].cards" style="display: block; left: 35%; position: relative; transform: rotate(88deg); margin-top: -90px;"
            v-bind:key="card.id">
            <div :class="{playCard : card.playing}">
                <div class="card" 
                style="background-Image: url( ./assets/img/Deck.png)">
                </div>
            </div>
            </div>
        </div>

        <div class="right" :class="{ emCima: vez == 0 }">
            <div v-for="card in bots[0].cards" style="display: block; left: 10%; position: relative; transform: rotate(88deg); margin-top: -50px;"
            v-bind:key="card.id">
            <div :class="{playCard : card.playing}">
                <div class="card" 
                style="background-Image: url( ./assets/img/Deck.png)">
                </div>
            </div>
            </div>
        </div>

        <div class="mount" style="z-index: 10000000000; position: fixed;">
            <div class="buy" 
            @click="buyCard"
            style="position: absolute; display: inline-table; left: -100%; transform: rotate(11deg)" v-for="buy in buy">
                <div class="card" style="box-shadow: 2px 1px 2px 1px rgba(0,0,0,.20) !important; border: 1px solid rgba(0,0,0,.30); background-Image: url( ./assets/img/Deck.png)"
                :style="{transform: 'translateY('+buy * 0.4 + 'px)'}"
                >
                </div>
            </div>
            <div style="display: inline-table; left: 35%; position: absolute;" v-bind:class="'card_' + card.id" v-for="card in mesa">
                <div class="card" 
                v-bind:class="'card_' + card.id"
                style="left: 80px"
                :style="{backgroundImage: 'url( ./assets/img/' + card.color + '_' + card.number + '.png)'}">
                </div>
            </div>
    
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/engine.js"></script>
</body>
</html>