*{
    margin: 0px;
    padding: 0px;
  }
  
  *{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  #app{
        position: fixed;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url('../img/Table_1.png')
  }

  .myCard{
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 220px;
        background: transparent;
        z-index: 10000;
        transform: scale(0.9)
  }

  .card{
        position: relative;
        height: 200px;
        width: 137px;
        background: #fff;
        border-radius: 10px;
        transform: rotate(2deg) translate(-50%);
        background-image: url(../img/Green_3.png);
        background-size: contain;
        display: inline-table;
        margin: -18px;
        box-shadow: 5px 1px 11px 1px rgba(0,0,0,.40);
        left: 40%;
        cursor: pointer;
        transition: all 0.2s;
  }

  .card_2{
        transform: rotate(-2deg) translate(-50%);
  }

  .card_3{
        transform: rotate(0deg) translate(-50%);
  }

  .card_4{
        transform: rotate(7deg) translate(-51%,8%);
  }

  .card_5{
        transform: rotate(11deg) translate(-50%, 18%);
  }

  .mount{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      width: 200px;
      height: 200px;
  }

  .activeHover{
      top: -20px;
      z-index: 100;
  }

  .playCard .card{
    background-image: url(./assets/img/Red_6.png);
    background-size: contain;
    position: fixed;
    top: -17vw;
    left: 52%;
    transform: translate(-50%, -50%) scale(1.2);
    transition: 0.3s;
    z-index: 10000;
  }

  .zoom_0{
      transform: translate(-20%, -40%) scale(0.8);
  }

  .zoom_0 .playCard .card{
    background-size: contain;
    position: fixed;
    top: -15vw;
    left: 78%;
    transform: translate(-50%, -50%) scale(1.2);
    transition: 0.3s;
    z-index: 10000;
  }

  @keyframes mymove {
    from {
        left: 80%;
        top: 19vw;
    }
    to {top: 200px;}
    }